.App {
	margin: 10px;
	text-align: justify;
}

.Content {
	max-width: 1000px;
	padding: 10px;
	padding-bottom: 50px;
	text-align: justify;
}

.DisabledOption,
.EnabledOption {
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: inline;
	margin: 0;
	margin-left: 3px;
	padding: 0;
	text-decoration: underline;
}

.DisabledOption:focus,
.EnabledOption:focus {
	outline: none;
}

.DisabledOption:hover,
.EnabledOption:hover {
	outline: none;
	text-decoration: none;
}

.DisabledOption {
	color: gray;
}

.EnabledOption {
	color: blue;
}

.Error {
	color: red;
	font-size: 18px;
	padding: 50px;
}

.Header {
	background: #d0d0d0;
	padding: 15px;
	padding-left: 40px;
	font-size: 26px;
}

.Fit {
	max-width: 99%;
	max-height: 99%;
}

.NoDecoration {
	text-decoration: none;
}

.Sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.Table {
	background-color: #ffffff;
	border: 1px solid #000000;
	display: table;
	padding: 9px;
	position: absolute;
	width: auto;
}

.TCellL {
	display: table-column;
	float: left;

	text-align: right;
	width: 100px;
}

.TCellR {
	display: table-column;
	float: left;

	padding-left: 3px;
	text-align: right;
	width: 70px;
}

.TRow {
	display: table-row;
	width: auto;
}

.Welcome {
	background-color: #f0f0f0;
	font-size: 22px;
	padding: 10px;
	text-align: center;
}

a {
	color: blue;
}

a:visited {
	color: blue;
}

footer {
	font-size: 12px;
	text-align: center;
	width: 100%;
}

p {
	margin: 0px;
}

#root {
	background-color: white;
	color: black;
}
