.App {
	margin: 10px;
	text-align: justify;
	font-size: 14px;
}

.DisabledOption,
.EnabledOption {
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: inline;
	margin: 0;
	margin-left: 3px;
	padding: 0;
	text-decoration: underline;
}

.DisabledOption:focus,
.EnabledOption:focus {
	outline: none;
}

.DisabledOption:hover,
.EnabledOption:hover {
	outline: none;
	text-decoration: none;
}

.DisabledOption {
	color: gray;
}

.EnabledOption {
	color: blue;
}

a {
	color: blue;
}

a:visited {
	color: blue;
}

header {
	background-color: white;
	color: black;
	display: flex;
	flex-direction: column;
}

footer {
	font-size: 12px;
	text-align: center;
	width: 100%;
}

p {
	margin: 0px;
}
